<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Contact me</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            Email: <a class="u-email" href="mailto:{{ site.email }}">{{ sara.hamouda <at> inria <dot> fr }}</a> <br/>
            Address: Office 26-00.215, 4 Place Jussieu, Paris, France.
            </li>
            {%- if site.email -%}
            <li></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

    </div>

  </div>

</footer>
